{
    email simonheiss87@gmail.com
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

smallhetzi.fading-flame.com {
    reverse_proxy http://portainer
}

fading-flame.com {
    reverse_proxy http://fading-flame
}

test.fading-flame.com {
    reverse_proxy http://test-fading-flame
}