{
    email simonheiss87@gmail.com
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

smallhetzi.modmoto.dev {
    reverse_proxy http://portainer
}

fading-flame.com {
    reverse_proxy http://fading-flame-prod
}

test.fading-flame.com {
    reverse_proxy http://fading-flame-dev
}

identity.fading-flame.com {
    reverse_proxy http://identity-server-prod
}

test.identity.fading-flame.com {
    reverse_proxy http://identity-server-dev
}

www.modmoto.dev {
    reverse_proxy http://portainer
}

modmoto.dev {
    reverse_proxy http://portainer
}

test.battlemate.fading-flame.com {
    reverse_proxy http://battle-mate-dev
}

battlemate.fading-flame.com {
    reverse_proxy http://battle-mate-prod
}
