{
    email simonheiss87@gmail.com
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

smallhetzi.fading-flame.com {
    reverse_proxy http://portainer:1000
}

fading-flame.com {
    reverse_proxy fading-flame:1100
}

test.fading-flame.com {
    reverse_proxy test-fading-flame:1101
}